azureml-core==1.60.0.post1
azureml-dataset-runtime==1.60.0
azureml-defaults==1.60.0
azure-ml==0.0.1
azure-ml-component==0.9.18.post2
azureml-mlflow==1.60.0.post1
azureml-contrib-services==1.60.0
azureml-contrib-services==1.60.0
azureml-inference-server-http
inference-schema
MarkupSafe==2.1.2
regex
pybind11
urllib3==2.5.0
requests==2.32.4
pillow==11.3.0
cryptography>=42.0.4
aiohttp>=3.12.14
py-spy==0.3.12
debugpy~=1.6.3
ipykernel~=6.0
tensorboard
psutil~=5.8.0
matplotlib~=3.5.0
tqdm~=4.66.3
py-cpuinfo==5.0.0
torch-tb-profiler~=0.4.0
# custom
transformers==4.55.4
accelerate==1.10.1
optimum
# trl==0.12.1
trl==0.21.0
# datasets==3.1.0
datasets==4.0.0
bitsandbytes==0.47.0
# peft==0.13.2
peft==0.17.1
# mlflow==2.18.0
mlflow==2.22.1
torch==2.8.0
# deepspeed==0.16.4
deepspeed==0.17.5
torchaudio==2.8.0
torchvision==0.23.0