# bitsandbytes==0.47.0
datasets==4.0.0
ipykernel==6.30.1
ipywidgets==8.1.7
pandas==2.3.2
peft==0.17.1

torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
accelerate==1.10.1
hf-xet==1.1.9
huggingface-hub==0.34.4
transformers==4.56.1
trl==0.22.2
python-dotenv==1.1.1
pydantic-settings==2.10.1
pydantic==2.11.7

tiktoken==0.11.0
sentencepiece==0.2.1
mlx==0.29.0
mlx-lm==0.27.1